.Amazon_Card{
    border: 2px solid whitesmoke;
    border-radius: 20px;  
    margin: 15px;
    /* padding: 0 15px 0 15px ; */
    background-color: rgb(204, 211, 141);
    color: black;
    /* height: 200px; */
    /* width: 300px; */
}
